@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    font-family: 'Poppins';
}
.btn {
    background-color: #E33FAB;
    color: white;
    transition: background-color 0.3s, color 0.3s; 
    border: solid none;
    padding: 10px 20px; 
    cursor: pointer; 
}

.btn:hover {
    background-color: white;
    color: #E33FAB;
}

.navbar{
    background: #6100C1;
    color: white;
}
.navbar-nav .nav-link.active {
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 3px;
}

.Banner {
    color: white;
    background-color: #6100C1;
    background-size: cover;
}
.Banner-logo{
    height: 100%;
    width: auto;
}
.Banner-content{
    transform: translateY(60px);
}
.fitur-content {
    padding-top: 20px;
    color: black;
}

.Banner2 {
    color: white;
    background-color: #6100C1;
    background-size: contain;
}
.Banner2 img{
    height: 500px;
    width: auto;
    bottom: 0;
}
.BeritaExt {
    color: white;
    background-color: #6100C1;
}
.BeritaExt img {
    width: 100%;
}
#Ext-content {
    transform: translateY(100px);
}
#Partner img{
    height: 100px;
    width: auto;
}
.Kegiatan-content {
    width: auto;
    background-image: url(img/BG1.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 50px 0;
}
.Kegiatan-content .row {
    flex-wrap: wrap;
}
.Kegiatan-content a {
    color: white;
    text-decoration: none;
}

.Kegiatan-content .card{
    height: 100%;
    border-radius: 16px;
    background: none;
}
.Kegiatan-content .card-footer{
    background-color: #6100C1;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.Kegiatan-content .card-footer h5 {
    flex: 1;
    margin: 0;
    padding: 0;
}

.Kegiatan-content .card-footer svg{
    margin-left: 5px;
}
@media (max-width: 800px) {
    .Kegiatan-content {
        padding: 20px 0;
    }
}
#Kontak {
    color: white;
    background: url('img/BG2.png');
    background-size: cover; 
}
#Kontak .btn {
    background-color: #6100C1;
}
#Info {
    color: black;
}
#Info a{
    align-items: center;
    color: #E33FAB;
    text-decoration: none;
}
#footer ul{
    list-style: none;
}
#staff .card{
    border: none;
}
#informasi {
    margin-top: 50px;
  }
#informasi img {
    width: 100%;
}
#informasi a{
    color :#E33FAB
}
#informasi .card{
    text-align: center;
}

.nav-link.text-deco{
    color: black;
    text-decoration-line: underline;
    text-decoration: #FF6F6F;
}

.nav-link.active.text-deco {
    font-weight: bold;
}

#badge1 {
    background-color: #6100C1;
}
#badge2 {
    background-color: #FF6F6F;
}
.custom-icon {
    width: 30px;
    height: 30px;
    fill: #E33FAB; 
    background-color: white; 
    border: 2px solid #E33FAB;
    border-radius: 50%; 
    padding: 4px; 
}