@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
    font-family: 'SF Pro Rounded';
    src: url('/font/SF-Pro-Rounded-Regular.otf') format('opentype');
    font-weight: normal; 
    font-style: normal; 
  }
  
  @font-face {
    font-family: 'SF Pro Rounded';
    src: url('/font/SF-Pro-Rounded-Bold.otf') format('opentype');
    font-weight: 700; 
    font-style: normal; 
  }

body {
    font-family: 'Poppins';
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
body h1{
    font-family: 'SF Pro Rounded', sans-serif;
    font-weight: 550;
    font-style: normal;
}
.btn {
    display: block;
    text-align: center;
    background-color: #E33FAB;
    color: white;
    transition: background-color 0.3s, color 0.3s; 
    border: solid none;
    padding: 10px 30px; 
    border-radius: 50px;
    cursor: pointer; 
}

.btn:hover {
    background-color: white;
    color: #E33FAB;
}

.custom-img {
    max-width: 100%;
    height: auto;
}

.navbar {
    padding: 20px;
    background: #6100C1;
    color: white;
}

.navbar-nav .nav-link {
    text-decoration: none;
    color: white;
    position: relative;
    transition: color 0.3s;
}

.navbar-nav .nav-link.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 50%;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    transition: 0.3s ease left;
}
@media (min-width: 1000px) {
    body {
        font-family: 'Poppins';
        min-width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .navbar-nav .nav-link.active::after {
        left: 25%; 
    }
}


@media (max-width: 1000px) {
    body {
        font-family: 'Poppins';
        min-width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .navbar-nav .nav-link.active::after {
        display: none;
    }
}

.Banner {
    color: white;
    background-color: #6100C1;
    background-size: cover;
}
.Banner-logo{
    height: 100%;
    width: auto;
    z-index: 2;
}
.Banner-content{
    transform: translateY(70px);
}
.fitur-content {
    padding-top: 20px;
    color: black;
    z-index: 1;
}

.Banner2 {
    color: white;
    background-color: #6100C1;
    background-size: contain;
}
.Banner-content2 {
    display: flex;
    align-items: center;
}

.fade-right {
    opacity: 0; 
    animation: fadeInRight 1s ease forwards; 
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-50px); 
    }
    100% {
        opacity: 1; 
        transform: translateX(0); 
    }
}

.fade-left {
    opacity: 0; 
    animation: fadeInLeft 1s ease forwards; 
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(50px); 
    }
    100% {
        opacity: 1; 
        transform: translateX(0); 
    }
}

.fade-up {
    opacity: 0; 
    animation: fadeInUp 1s ease forwards; 
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px); 
    }
    100% {
        opacity: 1; 
        transform: translateY(0); 
    }
}
.fade-down {
    opacity: 0; 
    animation: fadeInDown 1s ease forwards; 
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-50px); 
    }
    100% {
        opacity: 1; 
        transform: translateY(0); 
    }
}

@media (max-width: 1200px) {
    body {
        font-family: 'Poppins';
        min-width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .Banner2{
        padding-top: 40px;
    }
}
.Banner2 img{
    height: 100%;
    width: auto;
}
.BeritaExt {
    color: white;
    background-color: #6100C1;
}
.BeritaExt img {
    width: 100%;
}
#Ext-content {
    transform: translateY(100px);
}
#Partner img{
    height: 100px;
    width: auto;
}

@media screen and (max-width: 575px) {
    body {
        font-family: 'Poppins';
        min-width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
    #Partner h1{
        padding-left: 20px;
    }
    #Partner img{
        margin-bottom: 30px;
    }
    #informasi{
        padding: 0 30px;
    }
    .artikel{
      height: auto;
      width: auto;
      padding: 0 10px;
    }
    .artikel .nav-filter{
        margin-left: 20px;
    }
    .cardCount{
        padding-right: 30px;
        color: #787878;
    }
    #pagi {
        text-align: center;
    }
    #galeri-content{
        padding: 0 20px;
    }
  }

.Kegiatan-content {
    width: auto;
    background-image: url(img/BG1.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 50px 0;
    border-radius: 70px;

}
.Kegiatan-content .row {
    flex-wrap: wrap;
}
.Kegiatan-content a {
    color: white;
    text-decoration: none;
}
.Kegiatan-content .card{
    height: 100%;
    background: none;
    border: none;
}
.Kegiatan-content .card-footer{
    background-color: #6100C1;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.Kegiatan-content .card-footer h5 {
    flex: 1;
    margin: 0;
    padding: 0;
}

.Kegiatan-content .card-footer svg{
    margin-left: 5px;
}
@media screen and (max-width: 598px) {
    body {
        font-family: 'Poppins';
        min-width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .artikel-card{
      justify-content: center;
      width: 100%;
      padding: 0;
    }
  }
@media (max-width: 500px) {
    body {
        font-family: 'Poppins';
        min-width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .Kegiatan-content {
        padding: 20px 0;
    }
}
#btn-play{
    height: 100px;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
#bgv{
    width: 100%;
}
#Kontak {
    color: white;
    background: url('img/BG2.png');
    background-size: cover;
    border-radius: 80px; 
}
#Kontak .btn {
    background-color: #6100C1;
}
#Kontak .btn:hover {
    background-color: white;
    color: #6100C1;
}
#Info {
    color: black;
}
#Info .card-title{
    font-weight: bold;
}
#Info a{
    align-items: center;
    color: #E33FAB;
    text-decoration: none;
    font-weight: bold;
}
#footer ul{
    list-style: none;
}
#staff .card{
    border: none;
}
#informasi {
    margin-top: 50px;
  }
#informasi img {
    width: 100%;
}
#informasi a{
    color :#E33FAB
}
#informasi .card{
    text-align: center;
}

.nav-link.text-deco{
    color: black;
    text-decoration-line: underline;
    text-decoration: #FF6F6F;
}
.nav-link.text-deco:hover {
    text-decoration: #FF6F6F; 
    color: black; 
}
.nav-link.active.text-deco {
    font-weight: bold;
}

#badge1 {
    background-color: #6100C1;
}
#badge2 {
    background-color: #FF6F6F;
}
#Galeri {
    margin-top: 10vh;
}
#Galeri .card{
    border: 0;
}
#Galeri .card-body{
    padding: 0;
    margin-bottom: 20px;
}
#Galeri .card-body h4 {
    margin-top: 30px;
    font-weight: bold;
}
.custom-icon {
    width: 30px;
    height: 30px;
    fill: #E33FAB; 
    background-color: white; 
    border: 2px solid #E33FAB;
    border-radius: 50%; 
    padding: 4px; 
}
.pagination {
    border: none;
    color: #787878;
}
.pagination .page-item .page-link{
    background-color: transparent;
    color: #787878;
    border: none;
}
.pagination .page-item.active .page-link{
    background-color: white;
    color: #E33FAB;
}
#footer {
    margin-top: 20vh;
}
#footer p{
    color: #787879;
}
#footer .nav-link{
    color: #787879;
}